In [312]:
import pandas as pd

In [315]:
def get_course_number(course):
    course_num = course.split("-")
    return course_num[0]

def get_course_description(course):
    course_description = course.split("-")
    return course_description[1]

def grade_cleaner(grade):
    temp =  grade.split("(")
    temp_grade = temp[1]
    temp_grade_2 = temp_grade.split(")")
    final_grade = temp_grade_2[0]
    return final_grade

In [316]:
df = pd.read_csv("143Data.csv")
df.dropna(inplace = True)
df["Course Number"] = df["Course"].apply(get_course_number)
df["Course Description"] = df["Course"].apply(get_course_description)
df["Avg Grade Received"] = df["Avg Grade Received"].apply(grade_cleaner)

In [317]:
df.head(2)

,Instructor,Course,Term,Enroll,Evals Made,Rcmnd Class,Rcmnd Instr,Study Hrs/wk,Avg Grade Expected,Avg Grade Received,Course Number,Course Description
2,"Abi Samra, Nicholas Camill",ECE 180 - Topics in ECE (A),S219,29,16,100.0 %,100.0 %,4.23,A- (3.80),3.48,ECE 180,Topics in ECE (A)
3,"Abi Samra, Nicholas Camill",ECE 180 - Topics in ECE (A),S119,30,11,100.0 %,100.0 %,6.14,A- (3.91),3.53,ECE 180,Topics in ECE (A)

In [309]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4045 entries, 2 to 5228
Data columns (total 10 columns):
Instructor            4045 non-null object
Course                4045 non-null object
Term                  4045 non-null object
Enroll                4045 non-null int64
Evals Made            4045 non-null int64
Rcmnd Class           4045 non-null object
Rcmnd Instr           4045 non-null object
Study Hrs/wk          4045 non-null float64
Avg Grade Expected    4045 non-null object
Avg Grade Received    4045 non-null object
dtypes: float64(1), int64(2), object(7)
memory usage: 347.6+ KB

In [311]:
df["Avg Grade Received"] = df["Avg Grade Received"].apply(grade_cleaner)

In [306]:
df.head(2)

,Instructor,Term,Enroll,Evals Made,Rcmnd Class,Rcmnd Instr,Study Hrs/wk,Avg Grade Expected,Avg Grade Received,Course Number,Course Description
2,"Abi Samra, Nicholas Camill",S219,29,16,100.0,100.0,4.23,3.80,3.48,ECE 180,Topics in ECE
3,"Abi Samra, Nicholas Camill",S119,30,11,100.0,100.0,6.14,3.91,3.53,ECE 180,Topics in ECE