### Question2 - Best ranked courses in each department based on students evaluations and grades receieved

In [262]:
#import pandas and extract all the rows with the ECE as department to a new df
import pandas as pd
import numpy as np
combined_df = pd.read_csv("Preprocess_Completed.csv")
combined_df.set_index(["Department"], inplace=True)
df = combined_df.loc["ECE"]
df.reset_index(inplace=True)

In [263]:
df.head()

,Department,Course Number,Instructor,Term,Enroll,Evals Made,Rcmnd Class,Rcmnd Instr,Study Hrs/wk,Avg Grade Expected,Avg Grade Received
0,ECE,ECE 100,"Abd El-Messih, Andrew Saad",WI19,43,40,76.9,74.4,9.00,3.16,2.79
1,ECE,ECE 100,"Coles, William A.",FA09,57,39,68.4,47.4,7.22,3.11,2.18
2,ECE,ECE 100,"Cruz, Rene L",WI13,77,38,80.0,31.4,10.03,3.00,2.68
3,ECE,ECE 100,"Kante, Boubacar",WI14,52,24,63.6,22.7,8.05,3.10,2.54
4,ECE,ECE 100,"Kante, Boubacar",WI15,101,75,90.5,89.2,9.05,3.20,2.65

In [264]:
df["final grade ratio"] = df["Avg Grade Received"]/df["Avg Grade Expected"]

C:\Users\TKAFEL\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [265]:
df.head(2)

,Department,Course Number,Instructor,Term,Enroll,Evals Made,Rcmnd Class,Rcmnd Instr,Study Hrs/wk,Avg Grade Expected,Avg Grade Received,final grade ratio
0,ECE,ECE 100,"Abd El-Messih, Andrew Saad",WI19,43,40,76.9,74.4,9.00,3.16,2.79,0.882911
1,ECE,ECE 100,"Coles, William A.",FA09,57,39,68.4,47.4,7.22,3.11,2.18,0.700965

In [266]:
#group the data by the course numbers
course_group = df.groupby(["Course Number"])
#create a data frame to hold all the total grade ratio and enrollment extracted
max_unique_course_grade_ratio_df = pd.DataFrame(columns =["Course", "Total Enrolled", "Avrg Grade Expected", "Avrg Grade Received"])
total_enrolled_dict = {}
total_grade_expected_dict = {}
total_grade_receieved_dict = {}
course_name = []
total_enrolled = []

In [267]:
for course, data in course_group:
    total_enrolled_val = data["Enroll"].sum()
    average_grade_per_course_receieved = data["Avg Grade Received"].sum()/len(data)
    average_grade_per_course_expected = data["Avg Grade Expected"].sum()/len(data)
    total_enrolled_dict[course] = total_enrolled_val
    total_grade_receieved_dict[course] = average_grade_per_course_receieved
    total_grade_expected_dict[course] = average_grade_per_course_expected

In [268]:
course_name = total_enrolled_dict.keys()
total_enrolled = total_enrolled_dict.values()
average_grade_expected = total_grade_expected_dict.values()
average_grade_receieved = total_grade_receieved_dict.values()

In [269]:
max_unique_course_grade_ratio_df["Course"] = course_name
max_unique_course_grade_ratio_df["Total Enrolled"] = total_enrolled
max_unique_course_grade_ratio_df["Avrg Grade Expected"] = average_grade_expected
max_unique_course_grade_ratio_df["Avrg Grade Received"] = average_grade_receieved

In [270]:
max_unique_course_grade_ratio_df

        Course  Total Enrolled  Avrg Grade Expected  Avrg Grade Received
0     ECE 100             1731             3.161176             2.664118
1     ECE 101             3609             3.157222             2.646944
2     ECE 102             1902             3.068571             2.471905
3     ECE 103             1984             3.124815             2.784074
4     ECE 107             2279             3.002258             2.624516
5     ECE 108              921             3.079167             2.797500
6     ECE 109             4040             3.106071             2.513571
7     ECE 111             1694             3.523333             3.384286
8     ECE 115               62             3.583333             3.663333
9     ECE 118              227             3.352857             3.070000
10    ECE 120              410             3.430000             3.172222
11    ECE 121               54             3.210000             2.750000
12   ECE 121A              178             3.193333             3.030000
13   ECE 121B              132             3.193333             3.000000
14    ECE 123              157             3.490000             2.990000
15   ECE 125A              256             3.172000             3.060000
16   ECE 125B              181             3.382000             3.080000
17    ECE 134              120             3.517500             3.192500
18   ECE 135A               91             3.212500             2.620000
19   ECE 135B               27             3.440000             3.180000
20   ECE 136L              112             3.164000             3.126000
21   ECE 140A              228             3.400000             3.470000
22   ECE 140B              142             3.530000             3.610000
23   ECE 141A               63             3.580000             3.380000
24   ECE 141B               48             3.730000             3.490000
25    ECE 143              321             3.752500             3.562500
26    ECE 144               52             3.520000             3.660000
27  ECE 145BL               20             4.000000             3.770000
28  ECE 145CL               26             3.860000             3.560000
29     ECE 15             4146             3.039310             2.615517
..         ...             ...                  ...                  ...
42    ECE 163              604             3.301818             3.073636
43    ECE 164              838             3.374167             2.928333
44    ECE 165              691             3.310833             3.205000
45    ECE 166              984             3.428824             2.987059
46     ECE 17               41             3.230000             3.070000
47   ECE 171A             1173             3.260000             3.302500
48   ECE 171B              371             3.532000             3.309000
49   ECE 172A              942             3.392500             3.215000
50    ECE 173               26             3.520000             3.240000
51    ECE 174              806             3.069091             3.036364
52    ECE 175               28             3.330000             2.670000
53   ECE 175A              551             3.123750             2.850000
54   ECE 175B              170             3.580000             3.352500
55    ECE 180             1161             3.668077             3.550769
56    ECE 181               49             3.255000             2.995000
57    ECE 182               41             3.480000             3.485000
58    ECE 183              123             3.334000             3.258000
59    ECE 187              261             3.506250             3.302500
60    ECE 188              475             3.507500             3.366667
61    ECE 191             1781             3.710465             3.603953
62     ECE 25             3493             3.374054             2.957568
63     ECE 30             2326             3.268750             2.745833
64     ECE 35             5330             2.959750             2.437000
65     ECE 45             3886             3.249524             2.870476
66      ECE 5             1980             3.797778             3.671667
67     ECE 53              163             3.044000             3.066000
68    ECE 53A               37             3.080000             3.410000
69     ECE 65             3546             3.242931             2.638621
70     ECE 80              111             3.360000             3.203333
71     ECE 85               44             3.465000             3.410000

[72 rows x 4 columns]

In [271]:
max_unique_course_grade_ratio_df["Grade Received/Grade Expected Ratio"] = max_unique_course_grade_ratio_df["Avrg Grade Received"]/max_unique_course_grade_ratio_df["Avrg Grade Expected"]

In [272]:
#ECE course with the most students enrolled ever in the history of this database
max_unique_course_grade_ratio_df.nlargest(1, "Total Enrolled")

,Course,Total Enrolled,Avrg Grade Expected,Avrg Grade Received,Grade Received/Grade Expected Ratio
64,ECE 35,5330,2.95975,2.437,0.82338

In [273]:
#Answer is below for question 2
max_unique_course_grade_ratio_df.nlargest(20, "Grade Received/Grade Expected Ratio")

,Course,Total Enrolled,Avrg Grade Expected,Avrg Grade Received,Grade Received/Grade Expected Ratio
68,ECE 53A,37,3.080000,3.410000,1.107143
36,ECE 158B,43,3.580000,3.840000,1.072626
26,ECE 144,52,3.520000,3.660000,1.039773
38,ECE 16,159,3.368571,3.494286,1.037320
22,ECE 140B,142,3.530000,3.610000,1.022663
33,ECE 154C,47,3.325000,3.400000,1.022556
8,ECE 115,62,3.583333,3.663333,1.022326
21,ECE 140A,228,3.400000,3.470000,1.020588
47,ECE 171A,1173,3.260000,3.302500,1.013037
67,ECE 53,163,3.044000,3.066000,1.007227
57,ECE 182,41,3.480000,3.485000,1.001437
51,ECE 174,806,3.069091,3.036364,0.989336
40,ECE 161B,682,3.326667,3.288333,0.988477
20,ECE 136L,112,3.164000,3.126000,0.987990
71,ECE 85,44,3.465000,3.410000,0.984127
58,ECE 183,123,3.334000,3.258000,0.977205
61,ECE 191,1781,3.710465,3.603953,0.971294
44,ECE 165,691,3.310833,3.205000,0.968034
55,ECE 180,1161,3.668077,3.550769,0.968019
66,ECE 5,1980,3.797778,3.671667,0.966793