## 143 Final Project - ECE Department Analysis

In [85]:
import pandas as pd
import numpy as np
combined_df = pd.read_csv("Preprocess_Completed.csv")
combined_df.set_index(["Department"], inplace=True)
df = combined_df.loc["ECE"]
df.reset_index(inplace=True)

In [86]:
df.columns

Index(['Department', 'Course Number', 'Instructor', 'Term', 'Enroll',
       'Evals Made', 'Rcmnd Class', 'Rcmnd Instr', 'Study Hrs/wk',
       'Avg Grade Expected', 'Avg Grade Received'],
      dtype='object')

In [87]:
df.head(3)

,Department,Course Number,Instructor,Term,Enroll,Evals Made,Rcmnd Class,Rcmnd Instr,Study Hrs/wk,Avg Grade Expected,Avg Grade Received
0,ECE,ECE 100,"Abd El-Messih, Andrew Saad",WI19,43,40,76.9,74.4,9.00,3.16,2.79
1,ECE,ECE 100,"Coles, William A.",FA09,57,39,68.4,47.4,7.22,3.11,2.18
2,ECE,ECE 100,"Cruz, Rene L",WI13,77,38,80.0,31.4,10.03,3.00,2.68

In [88]:
course_group = df.groupby(["Course Number"])
max_unique_course_grade_ratio_df = pd.DataFrame(columns =["Course", "Total Enrolled", "Avrg Grade Expected", "Avrg Grade Received"])
len(course_group)
#new dataframe to incldue all the ratios there
total_enrolled_dict = {}
total_grade_expected_dict = {}
total_grade_receieved_dict = {}
course_name = []
total_enrolled = []

In [89]:
for course, data in course_group:
    total_enrolled_val = data["Enroll"].sum()
    average_grade_per_course_receieved = data["Avg Grade Received"].sum()/len(data)
    average_grade_per_course_expected = data["Avg Grade Expected"].sum()/len(data)
    total_enrolled_dict[course] = total_enrolled_val
    total_grade_receieved_dict[course] = average_grade_per_course_receieved
    total_grade_expected_dict[course] = average_grade_per_course_expected

In [90]:
course_name = total_enrolled_dict.keys()
total_enrolled = total_enrolled_dict.values()
average_grade_expected = total_grade_expected_dict.values()
average_grade_receieved = total_grade_receieved_dict.values()

In [91]:
max_unique_course_grade_ratio_df["Course"] = course_name
max_unique_course_grade_ratio_df["Total Enrolled"] = total_enrolled
max_unique_course_grade_ratio_df["Avrg Grade Expected"] = average_grade_expected
max_unique_course_grade_ratio_df["Avrg Grade Received"] = average_grade_receieved

In [92]:
max_unique_course_grade_ratio_df.head(3)

     Course  Total Enrolled  Avrg Grade Expected  Avrg Grade Received
0  ECE 100             1731             3.161176             2.664118
1  ECE 101             3609             3.157222             2.646944
2  ECE 102             1902             3.068571             2.471905

In [93]:
max_unique_course_grade_ratio_df["grade ratio"] = (max_unique_course_grade_ratio_df["Avrg Grade Received"]/max_unique_course_grade_ratio_df["Avrg Grade Expected"]) * 100

In [102]:
#see the top courses where the lowest grade ratio
max_unique_course_grade_ratio_df.sort_values(by="grade ratio").head()

,Course,Total Enrolled,Avrg Grade Expected,Avrg Grade Received,grade ratio
34,ECE 156,172,3.362500,2.507500,74.572491
52,ECE 175,28,3.330000,2.670000,80.180180
2,ECE 102,1902,3.068571,2.471905,80.555556
6,ECE 109,4040,3.106071,2.513571,80.924457
37,ECE 159A,17,3.690000,2.990000,81.029810

In [103]:
mask1 = max_unique_course_grade_ratio_df["grade ratio"] >=100.00

In [107]:
easy_courses_df = max_unique_course_grade_ratio_df[mask1]
easy_courses_df.head()

,Course,Total Enrolled,Avrg Grade Expected,Avrg Grade Received,grade ratio
8,ECE 115,62,3.583333,3.663333,102.232558
21,ECE 140A,228,3.400000,3.470000,102.058824
22,ECE 140B,142,3.530000,3.610000,102.266289
26,ECE 144,52,3.520000,3.660000,103.977273
33,ECE 154C,47,3.325000,3.400000,102.255639

In [105]:
#see the percentage of the courses that receive higher grade than expected
(len(easy_courses_df) / len(max_unique_course_grade_ratio_df)) * 100

15.277777777777779

In [108]:
#and many more extractions from the singled out df above, maybe we can list them or something or extract more stuff with more masks